* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("pexels-eberhard-grossgasteiger-19780254.jpg");
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: aliceblue;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    color: aliceblue;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.main-content {
    text-align: center;
    color: aliceblue;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}

.main-content button {
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 24px;
    padding: 12px 28px;
    border-radius: 8px;
    background: darkgreen;
    color: azure;
    font-weight: 600;
    transition: .4s;
}

.main-content button:hover {
    background: azure;
    color: darkgreen;
}

